.btn {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;

  &:hover,
  &:focus {
    background: var(--accent-color);
    color: var(--second-color);
  }
}
